* {
    margin: 0px;
    padding: 0px;
}

.OuterContainer {
    background: linear-gradient(to right, #FFFFFF, #964B00);
    height: 100vh;
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.sigUpContainer {
    background-color: #EADDCA;
    height: 80vh;
    width: 35vw;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    display: flex;
    border-top-left-radius: 20px;
        border-end-start-radius: 20px;
    flex-direction: column;
}
.myInput {
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 25px;
}
.imagestyl2 {
    height: 80vh;
    width: 35vw;
    border-end-end-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}
.errorMessage{
    color: red;
    font-size: 18;
}